@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --light-black: #34313D;
    --dark-blue: #3A3054;
    --blue: #4B3F6B;
    --dark-white: #9E9AA8;
    --light-white: #EFF1F7;
    --green: #2BD0D0;
    --light-green: #9AE3E3;
    --white: #FFF;
    --black: #000;
    --Poppins: "Poppins";
}

/* //CUSTOM PROPS */


/* GLOBAL-STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* //GLOBAL-STYLES */


/* CONTAINER */

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* //CONTAINER */

/* ALL-BTN */
.all-btn {
    padding: 8px 24px;
    text-align: center;
    border-radius: 28px;
    background-color: var(--green);
    color: var(--white);
    font-family: var(--Poppins);
    font-size: 15px;
    font-weight: 700;
}

.all-btn:active {
    background-color: var(--light-green);
}

/* //ALL-BTN */

/* SITE-HEADER */
.site-header {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 78px;
}

.header-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-box {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.box-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 29px;
}

.list-link, .link-text {
    color: var(--dark-white);
    font-family: var(--Poppins);
    font-size: 15px;
    font-weight: 700;
}

.link-text:active {
    color: var(--light-black);
}

.header-menu {
    display: flex;
    align-items: center;
    column-gap: 37px;
}

/* //SITE-HEADER */